<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design your taco</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Design your taco</h1>
    <form method="post" th:object="${taco}">
        <h4>Choose your wrap:</h4>
        <span
                th:if="${#fields.hasErrors('ingredients')}"
                th:errors="${taco.ingredients}"
                class="error"
        ></span>
        <div th:each="ingredient : ${wrap}">
            <label>
                <input type="checkbox" th:field="${taco.ingredients}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}"></span>
            </label>
        </div>

        <h4>Choose your veggies:</h4>
        <div th:each="ingredient : ${veggies}">
            <label>
                <input type="checkbox" th:field="${taco.ingredients}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}"></span>
            </label>
        </div>

        <h4>Choose your cheese:</h4>
        <div th:each="ingredient : ${cheese}">
            <label>
                <input type="checkbox" th:field="${taco.ingredients}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}"></span>
            </label>
        </div>

        <h4>Choose your protein:</h4>
        <div th:each="ingredient : ${protein}">
            <label>
                <input type="checkbox" th:field="${taco.ingredients}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}"></span>
            </label>
        </div>

        <h4>Choose your sauce:</h4>
        <div th:each="ingredient : ${sauce}">
            <label>
                <input type="checkbox" th:field="${taco.ingredients}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}"></span>
            </label>
        </div>

        <label>
            Name your taco: <input type="text" th:field="*{name}">
            <span
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="${taco.name}"
                    class="error"
            ></span>
        </label>

        <input type="submit" th:value="Submit">
    </form>
</body>
</html>